{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hello.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <script src="{{ url_for('static', filename='js/hello.js')}}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

{% endblock head_content %}


{% block content %}
<main class="main main-about">
    <div class="about">
        <div class="about-text-container">
            <h1 class="about-header">About me</h1>
            <p class="about-paragraph">
                As I prepare to start my final year at the University of Lodz,
                I am actively seeking entry-level Software Engineering positions.
            </p>
            <p class="about-paragraph">
                I am proficient in <span class="u-accent">Python</span>
                and <span class="u-accent">C++</span>, currently learning <span class="u-accent">Data Science</span> tools and <span class="u-accent">Data Visualization</span>, as well as <span class="u-accent">JQuery</span>.
                Nowadays, I am working on personal projects, primarily using Python.
                Aside from programming, I am also gearing up for the upcoming Autumn marathons season in Poland.
            </p>
            <p class="about-paragraph">
                Running and coding are very similar. Both require agility,
                adaptability, and ongoing self-improvement.
            </p>
        </div>
        <div class="about-photo-container">
            <div class="about-photo">
                <img src="{{ url_for('static', filename='img/about-photo.png') }}" class="about-photo-interior">
            </div>
        </div>
    </div>
</main>
{% endblock content %}