{% extends "base.html" %}


{% block content %}
<main class="main main_about">
    <p class main_about_paragraph>
        Hello everyone! As I prepare to start my final year at the University of Lodz,
        I am actively seeking entry-level Software Engineering positions.
        Currently, I am working on personal projects, primarily using C++ and Python.
        Aside from programming, I am also gearing up for the upcoming Autumn marathons season in Poland.
        I approach both of my passions, running and coding, with the same concepts of agility,
        adaptability, and ongoing self-improvement.
    </p>
    <p class main_about_paragraph>
        I thrive in fast-paced, dynamic environments and am constantly eager to tackle new challenges,
        quickly pick up new programming languages, and technologies.
        I am more than excited to showcase my skills on a professional level and to gain knowledge from a talented team of software engineers.
    </p>
    <p class main_about_paragraph>
        Please feel free to reach out if you have any
        opportunities or if you simply wish to connect and network. Thank you!
    </p>
</main>
{% endblock content %}