{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookshelf.css') }}">
{% endblock head_content %}

{% block content %}

<main class="main main-bookshelf" style="line-height: 2;">
    <div class="yearly-bookshelf-con">
        <h2>2023</h2>
        <ul>
            <li>Deep Work: Rules for Focused Success in a Distracted World - Cal Newport</li>
            <li>Mother of God: An Extraordinary Journey into the Uncharted Tributaries of the Western Amazon - Paul Rosolie</li>
            <li>The Start-up of You: Adapt to the Future, Invest in Yourself, and Transform Your Career - Reid Hoffman</li>
            <li>Sapiens: A Bried History of Humankind - Yuval Noah Harari</li>
            <li>Homo Deus: A Brief History of Tomorrow - Yuval Noah Harari</li>
            <li>Can't Hurt Me: Master Your Mind and Defy the Odds - David Goggins</li>
            <li>Never Finished: Unshackle Your Mind and Win the War within - David Goggins</li>
            <li>Quiet: The Power of Introverts in a World That Can't Stop Talking - Susan Cain</li>
            <li>The Subtle Art of Not Giviing a F*ck - Mark Manson</li>
            <li>The Easy Way to Lose Weight - Allen Carr</li>
        </ul>
    </div>
    <div class="yearly-bookshelf-con">
        <h2>2022</h2>
        <ul>
            <li>The Unseen Body. A Doctor's Journey Through the Hidden Wonders of Human Anatomy</li>
            <li>The Why Cafe - John Strelecky (Russian Version)</li>
            <li>The Defining Decade: Why Your Twenties Matter - meg Jay (Russian Version)</li>
            <li>The Psychology of Money: Timeless Lessons on Wealth, Greed, and Happiness - Morgan Housel</li>
            <li>Allen Carr's Easy Way to Stop Smoking: Be a happy Non-Smoker for the Rest of Your Life - Allen Carr           </li>
        </ul>
    </div>
</main>
{% endblock content %}