{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock head_content %}

{% block content %}
<main class="main main-contact">
        <div class="contact-li">
            <a class="contact-li-container" href="#">
                <div class="contact-li-name">email:</div>
                <div class="contact-li-details">
                    <div class="contact-li-details_link">
                        adiletbaimyrza@gmail.com
                    </div>
                </div>
            </a>
        </div>
        <div class="contact-li">
            <a class="contact-li-container" href="#">
                <div class="contact-li-name">linkedin:</div>
                <div class="contact-li_details">
                    <div class="contact-li-details_link">
                        Adilet Baimyrza
                    </div>
                </div>
            </a>
        </div>
        <div class="contact-li">
            <a class="contact-li-container" href="#">
                <div class="contact-li-name">github:</div>
                <div class="contact-li-details">
                    <div class="contact-li-details_link">
                        @AdiletBaimyrza
                    </div>
                </div>
            </a>
        </div>
</main>
{% endblock content %}