{% extends "base.html" %}

{% block content %}
<main class="main main_contact">
    <dl class="contact_list">
        <div class="contact_li">
            <dt class="contact_li_name">email:</dt>
            <dd class="contact_li_details">
                <a class="contact_li_details_link" href="mailto:adiletbaimyrza@gmail.com" target="_blank">
                    adiletbaimyrza@gmail.com
                </a>
            </dd>
        </div>
        <div class="contact_li">
            <dt class="contact_li_name">linkedin:</dt>
            <dd class="contact_li_details">
                <a class="contact_li_details_link" href="https://www.linkedin.com/in/adiletbaim/" target="_blank">
                    Adilet Baimyrza
                </a>
            </dd>
        </div>
        <div class="contact_li">
            <dt class="contact_li_name">github:</dt>
            <dd class="contact_li_details">
                <a class="contact_li_details_link" href="https://github.com/AdiletBaimyrza" target="_blank">
                    @AdiletBaimyrza
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock content %}