{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock head_content %}

{% block content %}
<main class="main main-contact">
    {% for contact in contact_details %}
    <div class="contact-container">
        <p class="contact-desc">{{ contact.desc }}</p>
        <a class="contact {{ contact.class }}" href="{{ contact.link }}" target="_blank"></a>
    </div>
{% endfor %}
</main>
{% endblock content %}