{% extends "base.html" %}

{% block content %}
<main class="main main_home">
    <section class="projects">
        {% for project in projects %}
        <a class="u-bare-link" href="{{ url_for('project', slug=project['slug']) }}">
            <article class="project_card">
                <img class="project_card_image"
                src="{{ url_for('static', filename=project['thumb']) }}"
                alt="{{ project['name'] }} hero image">
                <header class="project_card_meta">
                    <ul class="categories">
                        {% for category in project["categories"] %}
                        <li class="categories_tag">
                            {{ category }}
                        </li>
                        {% endfor %}
                    </ul>
                    <h2 class="project_card_name"> {{ project["name"] }}</h2>
                </header>
            </article>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock content %}