{% from "macros/svgs.html" import github, website %}

{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock head_content %}

{% block content %}
<main class="main main-home">
    <div class="projects">
        {% for project in projects %}
        <div class="u-bare-link project-card-container">
            <div class="project-card">
                <div class="project-card-meta">
                    <ul class="categories">
                        {% for category in project["categories"] %}
                        <li class="categories-tag">
                            {{ category }}
                        </li>
                        {% endfor %}
                    </ul>
                    <h2 class="project-card-name"> {{ project["name"] }}</h2>
                    <p class="project-desc">{{ project["desc"] }}
                    </p>
                    <div class="link-icons">
                        <div class="link-icon-container">
                            <a href="{{ project['github'] }}" target="_blank">{{ github('link-icon') }}</a>
                        </div>
                        <div class="link-icon-container">
                            <a href="{{ project['prod'] }}" target="_blank">{{ website('link-icon') }}</a>
                        </div>
                    </div>
                </div>
                <div class="project-photo-container">
                    <img class="project-card-image"
                    src="{{ url_for('static', filename=project['thumb']) }}"
                    alt="{{ project['name'] }} hero image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}