{% extends "base.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock head_content %}

{% block content %}
<main class="main main-home">
    <div class="projects">
        {% for project in projects %}
        <div class="u-bare-link project-card-container">
            <div class="project-card">
                <div class="project-card-meta">
                    <ul class="categories">
                        {% for category in project["categories"] %}
                        <li class="categories-tag">
                            {{ category }}
                        </li>
                        {% endfor %}
                    </ul>
                    <h2 class="project-card-name"> {{ project["name"] }}</h2>
                    <p>very nice dafjelfj a;ldfaoie ;alk fa;ejif; alejf;a sdijfa; elij</p>
                </div>
                <div class="project-photo-container">
                    <img class="project-card-image"
                    src="{{ url_for('static', filename=project['thumb']) }}"
                    alt="{{ project['name'] }} hero image">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}