#about {
    display: flex;
    align-items: center;
    background: var(--background-on-hover);
    border-radius: 1rem;
}

#about-text-con {
    /*! padding: 0 5rem 2rem 3rem; */
}

#about-photo-con {
    /*! width: 100%; */
}

.text-block {
    line-height: 2;
    font-size: 1.1rem;
}

#about-photo-interior {
    border-radius: 1rem;
    
    background: var(--accent-color-2);
}

#proj-header {
    margin-top: 5rem;
    font-size: 4rem;
}

.proj {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.4rem;
    margin-bottom: 7rem;
}

#proj-1 {
    margin-bottom: 10rem;
}

#proj-2 {
    margin-bottom: 14rem;
}

#proj-2-photo-1-con {
    border-top-right-radius: 1rem;
    
    background-color: var(--accent-color-2);
}

#proj-2-photo-2-con {
    grid-column: span 2;
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    background-color: var(--accent-color-2);
}

#proj-desc-2 {
    grid-column: span 1;
    border-top-right-radius: 0;
}

.proj-desc {
    grid-column: span 2;
    display: flex;
    padding: 2rem 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--background-on-hover);
}

#proj-1-photo-1-con {
    width: 40rem;
    background: var(--accent-color-2);
}

#proj-1-photo-2-con {
    border-bottom-left-radius: 1rem;
    width: 36rem;
    
    background: var(--accent-color-2);
}

#proj-1-photo-3-con {
    border-bottom-right-radius: 1rem;
    width: 36.2rem;
    
    background: var(--accent-color-2);
}


.proj-links {
    display: flex;
    justify-content: left;
    line-break: 0;
}

.link-icon-con {
    padding: 0.7rem;
    border-radius: 47%;
    transition: ease-in-out 0.2s background-color;
}

.link-icon-con:hover {
    background-color: var(--background-on-hover);
}

.link-icon {
    width: 2.4em;
    height: 2.4em;
    color: var(--accent-color);
    stroke-width: 0.1375rem;
}

#proj-1-photo-3-con {

}

#proj-1-photo-2-con ,
#proj-1-photo-3 {
    object-fit:cover;
        width: 100%;
}


@media screen and (max-width: 1000px) {
    
    #proj-1-photo-3 {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        object-fit: cover;
        width: 100%;
    }
    
    #proj-1-photo-2-con ,
    #proj-1-photo-3-con{
        object-fit: cover;
        width: 100%;
    }
    
    #proj-2,
    #proj-1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
    }
    
    #about {
        flex-direction: column;
        height: auto;
    }
    
    #hello-photo {
        margin: 0;
    }
    
    #proj-2-photo-1,
    #proj-2-photo-2 {
       width: 100%;
    }
    
    #proj-2-photo-2 {
        border-bottom-right-radius: 1rem;
    }
    
    #about-text-con {
      padding: 0 1rem 1rem 1rem;
    }
    
    .proj-desc {
        padding: 0 1rem 1rem 1rem;
        
    }
    
    #proj-desc-2 {
        border-top-right-radius: 1rem;
    }
    
    .proj {
        display: flex;
        flex-direction: column;
    }
    
    .proj-desc {
        display: flex;
        flex-direction: column;
    }
    
    #about-photo {
        width: 100%;
        border-radius: 1rem;
    }
    
    #proj-1-photo-1-con {
        width: 100%;
    }
    
    #proj-1-photo-1 {
        width: 100%;
    }
    
    body {
        margin: 0 1rem;
    }
    
    #about-photo-con {
        padding: 1rem;
    }
}