.header {
    text-align: center;
}
    


.logo {
    font-size: 1.5em;
    font-weight: bolder;
}

#at {
    color: var(--accent-color);
    font-weight: bolder;
}

@media screen and (max-width: 594px) {
    .nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .navigation-item {
        margin-bottom: 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }
}



@media screen and (min-width: 595px) {
    .u-add-mb-6-dot-25rem {
        margin-bottom: 6.25rem;
    }
}