.header {
    text-align: center;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
    
.header-navbar-link {
    padding: 0 1em;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, border-bottom-color 0.3s;
    border-bottom: 0.125rem solid transparent;
    font-size: 0.9em;
}
    
.header-navbar-link:hover {
    border-bottom-color: var(--accent-color);
}

.logo {
    font-size: 1.5em;
    font-weight: bolder;
}

#at {
    color: var(--accent-color);
    font-weight: bolder;
}

.nav-item {
    font-weight: 800;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}

.nav-icon {
width: 1.5em;
height: 1.5em;
color: var(--toggle-theme-icon-color);
}

.u-add-mb-6-dot-25rem {
    margin-bottom: 6.25rem;
}