.hello-container {
    display: flex;
    justify-content: center;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34rem;
}

.hello-photo-container {
    height: 20rem;
    width: 20rem;
    margin-left: 6.25rem;
}

.hello-photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: solid 0.3rem black;
    margin-right: 3.125rem;
}

.name-motto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: left;
    margin-left: 1.875rem;
}

.name {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1.25rem;
}

.motto {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.25rem;
}