:root {
    --background-on-hover: #ebe8e8;
    --background-color: #fff;
    --text-color: #1c2023;

    --accent-color: rgb(61, 61, 221);
    --accent-color-2: rgb(255, 123, 0);
    
    --toggle-theme-icon-color: rgb(61, 61, 221);
}

:root.dark-mode {
    --background-on-hover: #222529;
    --background-color: #1c2023;
    --text-color: #fff;
    
    --accent-color: rgb(81, 35, 207);
    --accent-color-2: orange;
    
    --toggle-theme-icon-color: yellow;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    height: 100%;
}

body {
    margin-top: 20px;
    height: 100%;
}

.u-accent {
color: var(--accent-color);
}

.main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
    height: 100%;
}



.project {
display: flex;
flex-direction: column;
font-size: 1.2rem;
padding: 0 1rem;
}

.project__content {
margin-bottom: 1rem;
line-height: 150%;
}

@media (min-width: 48.75em) {
.project {
    flex-direction: row;
    padding: 0;
}

.project__content {
    flex: 7;
    margin-right: 3rem;
    padding: 0;
}
}

.project__heading {
margin: 0;
font-size: 2rem;
line-height: 150%;
}

.project__heading--meta {
font-size: inherit;
margin-bottom: 1rem;
}

.project__meta-group {
margin-bottom: 1rem;
}

.project__meta-group,
.cta {
padding: 1rem;
background-color: #d4eafa;
border-radius: 6px;
}

.cta {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: var(--text-color);
text-decoration: none;
}

.cta:hover {
text-decoration: underline;
}

.cta__icon {
margin-right: 0.5rem;
transform: translateY(1px);
}

.technology-list {
list-style: none;
padding-left: 0.75rem;
margin: 0;
line-height: 1.75;
}

.technology-list__item:before {
content: "";
display: inline-block;
height: 1rem;
width: 1rem;
background-image: url("/static/img/list-check.svg");
background-size: contain;
background-repeat: no-repeat;
margin-right: 0.5rem;
}
