:root {
    --background-on-hover: #ebe8e8;
    --backround-on-hover-2: #b3b0b0;
    --background-color: #fff;
    --text-color: #1c2023;

    --accent-color: rgb(61, 61, 221);
    --accent-color-2: rgb(255, 123, 0);
    
    --toggle-theme-icon-color: rgb(61, 61, 221);
}

:root.dark-mode {
    --background-on-hover: #222529;
    --background-color: #1c2023;
    --text-color: #fff;
    
    --accent-color: rgb(81, 35, 207);
    --accent-color-2: orange;
    
    --toggle-theme-icon-color: yellow;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    font-size: clamp(0.5rem, 1rem, 3rem); 
}

body {
    height: 100%;
    margin: 0.5rem 4rem;
}

.u-accent {
    color: var(--accent-color);
}

.main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0.2rem;
    height: 100%;
}
