.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.25rem;
}

.project-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.project-card {
    padding: 0.75rem 0;
    display: flex;
    justify-content: space-evenly;
    height: 31.25rem;
    width: 80em;
}

.project-card-meta {
    padding: 0 1.25rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.project-card_photo {
    width: 30rem;
    height: 30rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

.project-card-name {
    margin: 0;
    font-size: 2rem;
    line-height: 2.25rem;
    color: var(--text-color);
}

.categories {
    display: flex;
    padding: 0;
    margin: 0 0 0.75rem;
    color: var(--accent-color-2);
    list-style: none;
    line-height: 1.45;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.075rem;
}

.categories-tag:not(:last-of-type)::after {
    content: "|";
    margin: 0 0.25rem;
}

.link-icons {
    display: flex;
    justify-content: left;
}

.link-icon-container {
    padding: 0.7rem;
    margin: 0 0.7rem;
    border-radius: 47%;
    transition: ease-in-out 0.2s background-color;
}

.link-icon-container:hover {
    background-color: var(--background-on-hover);
}

.link-icon {
    width: 2.4em;
    height: 2.4em;
    color: var(--accent-color);
    stroke-width: 0.1375rem;
}

.project-desc {
    line-height: 2;
    font-size: 1.4rem;
    font-weight: 400;
}

.project-photo-container {
    margin: 0 1rem;
    width: 31.25rem;
    height: 21.875rem;
}

.project-card-image {
    height: 100%;
    width:100%;
}

.more {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

@media screen and (max-width: 1112px) {
    .project-card {
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .project-card-meta {
        flex-basis: auto;
        height: auto;
        width: auto;
    }

    .projects {
        width: 100%;
        height: 100%;
    }

    .project-card-photo {
        width: 100%;
        height: 100%;
    }

    .project-photo-container {
        margin: 0 1rem 12rem 1rem;
        width: auto;
        height: auto;
    }
}