{% macro hello() %}
<div class="hello-container">
    <div class="hello">
        <div class="hello-photo-container">
            <img class="hello-photo" src="{{ url_for('static', filename='img/hello_photo.png') }}">
        </div>
        <div class="name-motto-container">
            <h1 class="name">Hi, I am Adilet</h1>
            <p class="motto">I <span class="u-accent" id="changingWord">build</span> things for Web using <span class="u-accent">Python</span></p>
        </div>
    </div>
</div>
{% endmacro%}